@font-face {
	font-family: 'Inconsolata';
	src: url('../assets/fonts/Inconsolata.woff2') format('woff2'),
		url('../assets/fonts/Inconsolata.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
.container {
	padding : 0 15px 20px;
}
h1 {
	display: inline-block;
	width: calc(100% - 25px);
}
#close {
	vertical-align: 10px;
	width: 25px;
}
#detail ul {
	font-size: 14px;
}
li {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAKCAYAAAB8OZQwAAAAG0lEQVQYV2NkwAIYiRd88Pzdf3TVjLQQJNpJAG6eEo+GbOwnAAAAAElFTkSuQmCC);
}
#revision::after,
#list li::after {
	content: "\2003▼";
}
.revisionup::after {
	content: '\2003▲' !important;
}
.boxed-group {
	padding: 10px 20px;
}
img {
	max-width: 100px;
}
legend {
	margin-bottom: 5px;
}
legend p,
legend a {
	display: inline-block;
	font-size: 14px;
}
legend span {
	margin-left: 8px;
}
legend > a:last-child {
	float: right;
}
pre {
	width: 100%;
	max-height: calc(100vh - 170px);
	white-space: pre-wrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
}
code {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	background-color: #333333;
	border-radius: 3px;
}
.btn {
	text-transform: none;
}
#bottom {
	height: calc(100vh - 160px);
}
#list,
#list li {
	width: fit-content;
}
#close,
#list li,
.boxed-group legend,
a {
	cursor: pointer;
}
strike {
    text-decoration: line-through;
}
#list li:hover,
a:hover {
    color: #00608c;
    text-decoration: none;
}
span,
pre,
white,
code {
	color: #e0e7ee;
}
legend i,
#close,
#list,
a {
	color: #0095d8;
}
p,
ul,
.bl,
.disabled {
	color: #7795b4;
}
.disabled:hover {
	cursor: not-allowed;
}
.cc {
	color: #00ffff;
	background: #00ffff;
}
.ky {
	color: #000;
	background: #ffff00;
}
.ck {
	color: #00ffff;
}
.wr {
	color: #ffffff;
	background: #ff0000;
}
