#infoOverlay {
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background: rgba(250, 250, 250, 0.85);
	z-index: 100000;
	text-align: center;
}
#infoBox {
	position: relative;
	left: 50%;
	top: 40%;
	width: 400px;
	margin-left: -200px;
	margin-top: -100px;
	background: #19232d;
	border-radius: 10px;
	box-shadow: 4px 4px 10px #555;  /*  V-offfset, H-Offset, Blur width, Shadow width , Color */
}

#infoTopBg {
	width: 100%;
	height: 40px;
	border-radius: 10px 10px 0 0;
	background: black;
}
#infoTop {
	float: left;
	width: calc( 100% - 40px );
	color: #e0e7ee;
	line-height: 40px;
	padding: 0 20px;
	text-align: left;
}
#infoTop a {
    color: #e0e7ee;
}
#infoTop i {
	margin-top: 5px;
	vertical-align: top;
}
#infoIcon i {
	color: #7795b4;
}
#infoX {
	float: right;
	width: 40px;
	line-height: 40px;
	border-radius: 0 10px 0 0;
	margin-top: 5px;
	padding: 0;
	color: #0095d8;
	cursor: pointer;
}

.info a {
    color: #7795b4;
    margin-right: 5px;
}
#infoTitle {
	font-size: 1.1em;
	vertical-align: text-bottom;
}
#infoContent {
	padding: 25px 10px 10px 10px;
    font-size: 16px;
}
#infoMessage {
	word-wrap: break-word;
	overflow: auto;
	max-height: 800px;
	color: #7795b4;
}
#infoRadio,
#infoCheckbox {
	text-align: left;
}
#infoSelect button {
	height: 40px;
	margin-left: 5px;
	padding-right: 25px;
	font-size: 16px;
}
#infoSelect a {
	margin: 0;
	padding-left: 10px;
}
#infoButtons {
	padding: 10px 0 20px 0;
}
#infoButtons a {
	margin: 0 5px;
	min-width: 70px;
	text-transform: none;
}
input {
	height: 41px;
	padding: 0 10px;
	border-radius: 6px;
	border: 2px solid #34495e;
	color: #e0e7ee;
	background-color: #10161c;
}
input[type=radio],
input[type=checkbox] {
	height: 15px;
	margin: 5px;
	transform: matrix(1.8, 0, 0, 1.8, 0, 2);
}
