.container {
	padding : 0 15px 20px;
}
h1 {
	display: inline-block;
	width: calc(100% - 25px);
}
#close {
	vertical-align: 10px;
	width: 25px;
}
#list li::after {
	content: "\A0 \25BC";
}
.boxed-group {
	padding: 10px 20px;
}
img {
	max-width: 100px;
}
legend {
	margin-bottom: 5px;
}
legend p {
	display: inline-block;
	font-size: 14px;
	margin-left: 15px;
}
legend span {
	margin-left: 8px;
}
legend > a:last-child {
	float: right;
}
pre {
	width: 100%;
	max-height: calc(100vh - 140px);
	white-space: pre-wrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
}
.btn {
	text-transform: none;
}
#bottom {
	height: calc(100vh - 160px);
}

#close,
#list,
a {
	cursor: pointer;
}
span,
pre {
	color: #e0e7ee;
}
p,
ul {
	color: #7795b4;
}
#close,
legend i,
#list,
a {
	color: #0095d8;
}
.cc {
	color: #00ffff;
	background: #00ffff;
}
.ky {
	color: #000;
	background: #ffff00;
}
.ck {
	color: #00ffff;
}
.wr {
	color: #ffffff;
	background: #ff0000;
}
