@font-face {
	font-family: Lato;
	src: url( '../fonts/lato/lato-regular-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato/lato-regular-webfont.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: Lato;
	src: url( '../fonts/lato/lato-light-webfont.woff' ) format( 'woff' ),
		url( '../fonts/lato/lato-light-webfont.ttf' ) format( 'truetype' );
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Inconsolata;
	src: url('../fonts/Inconsolata.woff') format('woff'),
		url( '../fonts/Inconsolata.ttf' ) format( 'truetype' );
	font-weight: normal;
	font-style: normal;
}
/* 'addons' declared in <head> for cache busting */
.fa {
	font-family: addons;
}
i.fa {
	font-style: normal;
}

.fa-addons:before {
	font-family: addons;
	content: "\f520";
	color: #7795b4;
}
.fa-times:before { content: "\f51A" }
.fa-plus-circle:before { content: "\f51D" }
.fa-minus-circle:before { content: "\f51C" }
.fa-check:before { content: "\f51B" }
.fa-refresh:before { content: "\f563" }
.fa-arrow-up:before { 	font-family: addons; content: "\f566" }
.fa-arrow-down:before { content: "\f567" }
.fa-chevron-down:before { content: "\f564" }
.fa-external-link:before { content: "\f565" }

.fa-times:before { content: "\f51A" }
.fa-question-circle:before { content: "\f560" }
.fa-info-circle:before { content: "\f561" }
.fa-warning:before { content: "\f562" }

body {
	margin: 0;
	font-family: "Lato";
	font-size: 14px;
	font-weight: normal;
	color: #e0e7ee;
	background-color: #000;
}
.container {
	margin: 15px auto;
	padding : 0 35px 20px 35px;
}
@media (min-width: 992px) {
	.container {
		width: 970px;
		max-width: calc( 100% - 70px );
	}
}
@media(max-width: 540px) {
	.container {
		padding: 0 10px 15px 10px;
	}
	.boxed-group {
		padding: 10px !important;
	}
}
h1 {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	font-size: 36px;
	font-weight: 300;
}
.close-root {
	float: right;
	line-height: 40px;
	font-size: 28px;
	color: #0095d8;
	text-decoration: none;
}
#closeprogress {
	margin-top: 0;
}
.close-root:hover {
	color: #00608c;
	text-decoration: none;
}
.disk {
	display: inline-block;
	line-height: 10px;
}
#diskused {
	background: #7795b4;
}
#diskfree {
	background: #e0e7ee;
}
#diskunpart {
	background: #0095d8;
}
#issues {
	float: right;
	margin-top: 3px;
	color: #0095d8;
}
#wait {
	margin: 0;
	line-height: 10px;
}
.bl {
	margin: 20px 0 10px 0;
	border-bottom: 1px solid #34495e;
}
#list {
	margin: 10px 0;
	list-style: none;
}
#list li:before {
	margin-right: 5px;
	font-family: addons;
	content: '\f567';
	color: #0095d8;
}
#issues i,
.detailtext i {
	color: #7795b4;
}
.boxed-group {
	margin: 10px 0;
	padding: 10px 20px;
	border-radius: 6px;
	background: #19232d;
}
.boxed-group img {
	max-width: 100px;
}
legend {
	margin-bottom: 5px;
	font-size: 14px;
	color: #7795b4;
	border-bottom: 1px solid #34495e;
}
legend span {
	font-size: 21px;
}
legend p,
legend a {
	display: inline-block;
	line-height: 1em;
}
legend > i:last-child {
	float: right;
}
legend .status {
	font-size: 24px;
}
legend .fa-arrow-up {
	float: right;
}
@media(max-width: 480px) {
	legend .fa-arrow-up {
		display: none;
	}
}
.hidescrollv {
	margin-top: 10px;
	width: 100%;
	overflow: hidden;
}
pre {
	display: block;
	max-height: calc(100vh - 170px);
	width: 100%;
	padding: 10px;
	margin: 0 0 10px;
	background-color: #1a1a1a;
	border: 1px solid #10161c;
	font-family: 'Inconsolata', monospace;
	font-size: 15px;
	line-height: 20px;
	white-space: pre-wrap;
	overflow: auto;
	-webkit-overflow-scrolling: touch; /* ios momentum scroll */
}
code {
	font-family: 'Inconsolata', monospace;
	font-size: 14px;
	background-color: #333333;
	border-radius: 3px;
}
.thumbnail {
	float: right;
	width: 100px;
	cursor: pointer;
}
.btn {
	text-transform: none;
	min-width: 100px;
}
.btn i {
	margin-right: 5px;
}
.btn {
	border: medium none
}
#bottom {
	min-height: calc( 100vh - 205px );
}
#list,
#list li {
	width: fit-content;
	width: -moz-fit-content;
	color: #e0e7ee;
}
#list a {
	color: #ff8888;
	text-decoration: none;
}
#list li,
.boxed-group legend,
a {
	cursor: pointer;
}
strike {
	text-decoration: line-through;
}
li i,
.boxed-group legend i,
blue {
	color: #0095d8;
}
span,
pre,
white,
code,
code i {
	color: #e0e7ee;
}
pre hr {
	margin: 10px 0 -10px -10px;
	border: 1px solid #00ffff;
}
pre hr.hrlight {
	border-width: 0.5px;
}
p,
ul,
.bl,
.disabled {
	color: #7795b4;
}
.cc {
	color: #00ffff;
	background: #00ffff;
}
.ky {
	color: #000;
	background: #ffff00;
}
.ck {
	color: #00ffff;
}
.cc:hover, .ck:hover {
	text-decoration: none;
	color: #00ffff;
}
.wr {
	color: #ffffff;
	background: #ff0000;
}

a[href^="http"] {
	text-decoration: none;
}
#list li:hover,
a:hover {
	color: #0095d8;
}
.revision:hover:after,
legend a:hover,
legend:hover:after,
a[href^="http"]:hover,
#revision:hover:after,
#list li:hover:after {
	color: #e0e7ee;
	text-decoration: none;
}
.disabled:hover {
	cursor: not-allowed;
}
